@import url(https://fonts.googleapis.com/css?family=Poppins);

body{
  font-family: 'Poppins';
}

.img-responsive {
    max-width: 100vw;
    max-height: 100vh;
}

.popup{
    top: 0;
    position: absolute;
}

.corfundo {
    background: rgba(10,23,55,0.8);
}

#fundodomar, #mangue, #cidade, #praia {  
    top: 0;
    z-index: 1;
    height: 80vh;
    width: 100vw;
}

.personagemchat, #personagemchat0, #personagemchat1, #personagemchat2, #personagemchat3{
  z-index: 2;
  position: absolute;
  width: auto;
  height: 18vh !important;
  left: 5vw;
  top: 81vh;
}



#chat{
    width: 100vw;
    height: 20vh;
    z-index: 1;
    position: relative;
}

#cenario1 {
    top: 0;
    cursor: grab;
    display: none;
    z-index: 2;
}

#cenario2 {
    cursor: grab;
    display: none;
    z-index: 2;
}

#cenario3 {
    cursor: grab;
    display: none;
    z-index: 2;
}

#iconecidade {
    position: absolute;
    top: 45%;
    left: 28%;
    z-index: 1;
}

#iconepraia {
    position: absolute;
    top: 25%;
    left: 45%;
    z-index: 1;
}

#iconemangue {
    position: absolute;
    top: 45%;
    left: 63%;
    z-index: 1;
}


.lixovidro, .lixopraia, .lixoorganico, .lixopapel, .lixometal, .lixoplastico{
  width: 8%;
  height: auto;
}

#lixopraia1{
  width: 5%;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 1;
}

#lixopraia2{
  width: 5%;
  position: absolute;
  top: 40%;
  left: 80%;
  z-index: 1;
}

#lixopraia3{
  width: 5%;
  position: absolute;
  top: 20%;
  left: 70%;
  z-index: 1;
}

#lixopraia4{
  width: 5%;
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 1;
}

#lixopraia5{
  position: absolute;
  top: 70%;
  left: 85%;
  z-index: 1;
}

#lixopraia6{
  position: absolute;
  top: 70%;
  left: 25%;
  z-index: 1;
}

#lixopraia7{
  width: 5%;
  position: absolute;
  top: 50%;
  left: 70%;
  z-index: 1;
}

#lixopraia8{
  width: 5%;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}



#lixo1{
    position: absolute;
    top: 40%;
    left: 80%;
    z-index: 1;
}
  
#lixo2 {
    position: absolute;
    width: 5%;
    top: 45%;
    left: 40%;
    z-index: 1;
}

#lixo3{
    position: absolute;
    width: 5%;
    top: 40%;
    left: 55%;
    z-index: 1;
}
  
#lixo4 {
    position: absolute;
    width: 6%;
    top: 25%;
    left: 25%;
    z-index: 1;
}

#lixo5 {
    position: absolute;
    top: 35%;
    left: 15%;
    z-index: 1;
}

#lixo6{
    position: absolute;
    width: 6%;
    top: 25%;
    left: 48%;
    z-index: 1;
}
  
#lixo7 {
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 1;
}

#lixo8 {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
}

#lixo9 {
    position: absolute;
    width: 6%;
    top: 10%;
    left: 60%;
    z-index: 1;
}

#lixo10 {
    position: absolute;
    width: 6%;
    top: 15%;
    left: 70%;
    z-index: 1;
}

#lixo11{
    position: absolute;
    top: 10%;
    left: 33%;
    z-index: 1;
}
  
#lixo12 {
    position: absolute;
    width: 6%;
    top: 15%;
    left: 80%;
    z-index: 1;
}


.lixeira{
  width: 10%;
  height: 34%;
  overflow: hidden;
}

.lixeira img{
  width: 100%; /* Garante que a imagem se ajuste à largura do contêiner */
  height: auto;
}

.lixeira1 {
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: 1;
    
}

.lixeira2 {
    position: absolute;
    top: 65%;
    left: 25%;
    z-index: 1;
    
}

.lixeira3 {
    position: absolute;
    top: 65%;
    left: 45%;
    z-index: 1;
}

.lixeira4 {
  position: absolute;
  top: 65%;
  left: 65%;
  z-index: 1;
 
}

.lixeira5 {
  position: absolute;
  top: 65%;
  left: 85%;
  z-index: 1;
 
}


.botao {
    position: absolute;
    top: 85%;
    left: 85%;
    cursor: pointer;
    max-width: 5vw;
    height: auto;
}


#texto1 {
  position: absolute;
    top: 85%;
    left: 21%;
}
#texto2 {
    position: absolute;
    top: 90%;
    left: 21%;
}


#texto3 {
  width: 70%;    
  position: absolute;
    top: 85%;
    left: 21%;
}

#texto4 {
    position: absolute;
    top: 90%;
    left: 21%;
}

#texto5 {
  width: 70%;    
    position: absolute;
    top: 85%;
    left: 21%;
}

#texto6 {
    position: absolute;
    top: 90%;
    left: 21%;
}

#texto7 {
  width: 70%;    
    position: absolute;
    top: 85%;
    left: 21%;
}

#texto8 {
    position: absolute;
    top: 90%;
    left: 21%;
}

#texto9 {
  width: 70%;    
    position: absolute;
    top: 85%;
    left: 21%;
    display: 'none';
}

#texto10 {
    position: absolute;
    top: 90%;
    left: 21%;
    display: 'none';
}

#texto11 {
    position: absolute;
    top: 85%;
    left: 21%;
    display: 'none';
}
#texto12 {
    position: absolute;
    top: 85%;
    left: 21%;
    display: 'none';
}
#texto13 {
    position: absolute;
    top: 85%;
    left: 21%;
    display: 'none';
}

p {
    font-family: 'Poppins';
    z-index: 1;
}

.botaovoltar {
    position: absolute;
    width: 30vh;
    height: auto;
    top: 1%;
    left: 2%;
    cursor: pointer;
    z-index: 2;
}

.botaoreiniciar {
  position: absolute;
  width: 30vh;
  height: auto;
  top: 1%;
  left: 82%;
  cursor: pointer;
  z-index: 2;
}

.hidden {
  display: none;
}


#insignias{
  width: 18vw;
  height: auto;
  position: absolute;
  top: 4vh;
  left: 2vw;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.parabens{
  width: 18vw;
  height: auto;
  position: absolute;
  top: 20vh;
  left: 2vw;
  animation: pulse 2s infinite;
}

.parabens img{
  width: 16vw;
}

#insignias img{
  width: 5vw;
}

.insignia {
    position: center;
}

.deitado {
  position: center;
  width: 100%;
  height: 100%;
}

#orientation-modal{
  width: 90vw;
  height: 90vh;
}

.modal {
    text-align: center;
}

.modal-text{
  text-align: center;
  padding: 50px;
}

#parabensModal {
  display: none; /* Inicialmente, o modal está oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  max-width: 600px; /* Ajuste conforme necessário */
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


.modalvideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Fundo branco com transparência */
  z-index: 10;

}

.modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #2c869a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video{
  width: 50vw;
  height: 60vh;
  
}

.close {
  position: absolute;
  top: 1vw;
  left: 0.5vw;
  font-family: 'Poppins';
  font-size: 5vw; /* Tamanho aumentado */
  font-weight: bolder;
  color: white;
  background-color: white;
  padding: 0.5vw 0.5vw; /* Adicionado preenchimento para torná-lo mais chamativo */
  border: 3px solid black; /* Adicionado uma borda para torná-lo mais visível */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer;
  z-index: 20;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    position: absolute;
    width: 30vw;
    height: 30vw;
    top: 12%; 
    left: 37%;
    justify-content: center; /* Centraliza as cartas horizontalmente */
    align-items: center;
    perspective: 1000px;    
}

.memory-card {
    width: calc(25% - 1vw);
    height: calc(33.333% - 1vw);
    margin: 0.5vw;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

}
  
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 30% 10%;
    position: absolute;
    border-radius: 5px;
    background: #2c869a;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
  }

  .jogoacheoze{
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

  

  .score {
    font-family: 'Poppins';
    position: absolute;
    top: 1vh;
    left: 46vw;
    font-size: 3vw;
    text-align: center;
    color: white;
  }
  
  .timer {
    position: relative;
    font-size: 4vw;
    margin-top: 8vh;
    margin-left: 90vw;
    color: white;
  }
  
  .control-set {
    display: flex;
  }
  
  
  .game {
    height: 70vh;
    position: absolute;
    top: 45%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hole {
    width: 33%;
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .hole img {
    object-fit: contain;
  }
  
  .grass {
    margin: auto;
    z-index: 10;
  }
  
  .mole {
    width: 150px;
    opacity: 0;
    margin: auto;
    transform: translateY(140px);
    transition: all .3s ease-in-out;
  }
  
  .mole.out {
    transform: translateY(0);
    opacity: 1;
  }

  @keyframes float{
    0%,100%{
      transform:translatey(0)
    }
    50%{
      transform:translatey(-30px)
    }
  }
  .efeito-flutuante-infinito {
       animation: float 2s ease-in-out infinite;
  }

  .efeito-flutuante-infinito2 {
    animation: float 2s ease-in-out 0.5s infinite;
}

.efeito-flutuante-infinito3 {
  animation: float 2s ease-in-out 1s infinite;
}

  
  
  @media screen and (max-width: 1400px) {
    #fundodomar, #mangue, #cidade, #praia {  
      top: 0;
      z-index: 1;
      height: 80vh;
      width: 100vw;
  }

  #chat0, #chat1, #chat2, #chat3 {
    position: relative;
    display: inline-block;
}

#chat0 p, #chat1 p, #chat2 p, #chat3 p {
    position: absolute;
    top: 0;
    left: 23%;
    background-color: rgba(255, 255, 255, 0.8); /* Cor do fundo do texto */
    padding: 10px; /* Espaçamento interno do texto */
}


    #chat{
      width: 100vw;
      height: 20vh;
      z-index: 1;
  }

  .personagemchat, #personagemchat0, #personagemchat1, #personagemchat2, #personagemchat3{
    z-index: 2;
    position: absolute;
    width: auto;
    height: 18vh !important;
    left: 5vw;
    top: 1vh;
  }
  

    .jogoacheoze{
      position: absolute;
      top: 0;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
  }
  
  .botaovoltar {
    position: fixed;
    width: 30vh;
    height: auto;
    top: 1%;
    left: 2%;
    cursor: pointer;
    z-index: 2;
}

.botaoreiniciar {
  position: fixed;
  width: 30vh;
  height: auto;
  top: 1%;
  left: 82%;
  cursor: pointer;
  z-index: 2;
}
  

    .score {
      font-family: 'Poppins';
      position: absolute;
      top: 1vh;
      left: 46vw;
      font-size: 3vw;
      text-align: center;
      color: white;
    }
    
    .timer {
      position: relative;
      font-size: 4vw;
      margin-top: 8vh;
      margin-left: 90vw;
      color: white;
    }
    
    .control-set {
      display: flex;
    }
    
    
    .game {
      display: flex;
      flex-wrap: wrap;
      z-index: 2;
      position: absolute;
      top: 45%;
      width: 70vw;
      height: 20vw;
      left: 20%;
    }
    
    .hole {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: calc(33,3% - 1vw);
      height: 150px;
      position: relative;
    }
    
    .hole img {
      object-fit: cover;
    }
    
    .grass {
      margin: auto;
      z-index: 10;
    }
  
    .grass img {
      width: auto;
      height: 90px;
    }
    
    .mole {
      width: 16vh;
      opacity: 0;
      margin: auto;
      transform: translateY(70px);
      transition: all .3s ease-in-out;
    }
    
    .mole.out {
      transform: translateY(0);
      opacity: 1;
    }

    #iconecidade {
      position: absolute;
      top: 35%;
      left: 15%;
      z-index: 1;
  }
  
  #iconepraia {
      position: absolute;
      top: 20%;
      left: 40%;
      z-index: 1;
  }
  
  #iconemangue {
      position: absolute;
      top: 35%;
      left: 65%;
      z-index: 1;
  }
    
  }  






